// MAIN COLOR
$primaryColor : #ff00dd;
$secondaryColor : #ddff00;



// COLORS

$blue: #06D;
$red: #E55;
$green: #0D6;
$grey: #888;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$default-font: Open Sans, Arial, sans-serif;

// ALERTS
$orange-alert: #D83;
$blue-alert: #0BF;
$green-alert: #0F8;
$red-alert: #E66;

